a {
    cursor: pointer;
}

#main {
    width: 958px;
    margin: 0 auto;
}

.container {
    position: relative;
    width: auto;
    margin: 0;
    padding: 5px;
    background: #eee;
    border: 1px solid #333;
}

.container-sidebar {
    float:left;
    width: 30%;
    background: #ddd;
}

.container-body {
    float: right;
    width: 70%;
    background: #e5e5e5;
}

.container-footer {
    clear: both;
}

.widget {
    position: relative;
    margin: 2px 0;
    padding: 2px;
    border: 1px dotted #bbb;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 24px;
    height: 24px;
    text-indent: -29999px;
    background: #fff url("http://mamfirme.pl/gfx/icons/preferences-system.png") no-repeat center center;
    overflow: hidden;
    z-index: 5;
}

.menu:hover {
    width: auto;
    height: auto;
    text-indent: 0;
    background: #fff;
    z-index: 6;
}

.menu > * {
    display: none;
}

.menu:hover > * {
    display: block;
}

.menu > hr {
    margin: 0;
}

.widget-menu {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    z-index: 4;
}

.widget-menu:hover {
    z-index: 6;
}
