<nav id="editor_top_belt">
    <ul>
        <li class="mf-menu-wrapper" id="top-belt-settings">
            <span>Settings</span>
            <ul class="mf-menu top-belt-menu">
                <li class="green" id="top-belt-save-site"><button ng-click="saveSite()">Save</button></li>
                <li id="top-belt-load-site"><button ng-click="loadSite()">Load</button></li>
                <li><button ng-click="debugSite()">DEBUG</button></li>
                <li><button ng-click="debugEditor()">DEBUG EDIT</button></li>
                <li><button ng-click="clearLocal()">CLEAR LOCAL STORAGE</button></li>
            </ul>
        </li>
        <li class="mf-menu-wrapper" id="top-belt-add">
            <span>Add</span>
            <ul class="mf-menu top-belt-menu">
                <li class="green"><button ng-click="addContainer()" class="green">Add container</button></li>
            </ul>
        </li>
        <li class="mf-menu-wrapper" id="top-belt-language">
            <span>Language</span>
            <ul class="mf-menu top-belt-menu">
                <li ng-repeat="language in site.languages" ng-class="{active: language == currentLang}">
                    <a ng-href="/edit/{{language}}/{{currentPage}}"
                     ng-style="{'background-image': 'url(/images/flags/16/'+ language + '.png)'}">{{availableLanguages[language].name}}</a>
                </li>
            </ul>
        </li>
        <a href="/{{currentLang}}/{{currentPage}}">Preview</a>
        <a href="https://github.com/ciepol/mf-angular" target="_blank">See on GitHub</a>
    </ul>
</nav>

<div ng-include="'/views/page.html'"></div>

<div ng-if="state.cached" id="dialog_cached" class="ngdialog ngdialog-theme-default ngdialog-theme-custom">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content" ng-include="'/views/dialogs/cached.html'">
        <div class="ngdialog-close"></div>
    </div>
</div>
<div ng-if="addMode" class="ngdialog ngdialog-theme-default ngdialog-theme-custom">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content" ng-include="'/views/dialogs/add-' + addType + '.html'">
        <div class="ngdialog-close"></div>
    </div>
</div>
