<nav id="editor_top_belt">
    <div>
        <button ng-click="addContainer()" class="btn btn-primary">Add container</button>
        <a ng-click="saveSite()">Save</a>
        <a ng-click="loadSite()">Load</a>
        <a href="/{{currentPage}}">Preview</a>
    </div>
</nav>
<div id="main">
    <div id="main">
        <container ng-repeat="(containerIndex, containerGuid) in site.pages[currentPage].containers"></container>
    </div>
    <!--container ng-repeat="(containerIndex, container) in containers"></container-->
</div>
<div id="load_spinner" ng-hide="loaded"><span>LOADING...</span></div>
<div ng-if="cached" id="dialog_cached" class="ngdialog ngdialog-theme-default ngdialog-theme-custom">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content" ng-include="'/views/dialogs/cached.html'">
        <div class="ngdialog-close"></div>
    </div>
</div>
<div ng-if="addMode" class="ngdialog ngdialog-theme-default ngdialog-theme-custom">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content" ng-include="'/views/dialogs/add-' + addType + '.html'">
        <div class="ngdialog-close"></div>
    </div>
</div>
